---
layout: default
---

<div class="index-page" style="min-height: 85vh;">
<div class="jumbotron">
  <h1 class="display-5">{{ site.greeting }}</h1>
  <div class="lead">
    <p>The German Confederation (Deutscher Bund) was an association of almost 40 predominantly German-speaking sovereign states and free cities created by the Congress of Vienna in 1815. It replaced the former Holy Roman Empire, which had been dissolved in 1806. </p>
    <p>From November 1816 until the discontinuation of the Confederation in 1866, the Confederate Diet (Bundesversammlung) regularly met in Frankfurt on the Main. The representatives discussed domestic and international political matters of concern. Decisions made by the Diet were binding for all member states, from the most powerful members Austria and Prussia down to the smallest duchy.</p>
    <p>Over 50 years, minutes of these sessions provide an idea of the fascinating range of topics addressed by the Confederate Diet, from preventing the spread of cholera to questions of national security, from border disputes to individual grievances by citizens brought to the Diet's attention. </p>
    <p>This digital history project based at the University of Aberdeen aims to make the minutes available to be accessed and searched. We are pleased to provide with this tool a starting point for researchers and students of nineteenth-century political cultures and post-Napoleonic European history. </p>
  </div>

<hr class="my-4">
 <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Start Browsing</a></p>
</div>

<h3>Browse by Category</h3>
<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div>
</div>
